@import "variables";

.navbar {
  background-color:$brand-dark;
  margin-bottom:0;
  .navbar-brand {
    color:$brand-accent;
    padding:7px 20px;
  }
  .logo {
    max-height:$header-height;
  }
}
.nav.navbar-nav li a {
  color:$body-background;
}
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: $brand-light;
}