@import "variables";

/* unused fonts in starter site but in place for customizing new sites */
@font-face {
  font-family: 'Lato-BoldItalic';
  src: url('/assets/fonts/Lato/Lato-BoldItalic.eot');
  src: url('/assets/fonts/Lato/Lato-BoldItalic.woff2') format('woff2'),
  url('/assets/fonts/Lato/Lato-BoldItalic.woff') format('woff'),
  url('/assets/fonts/Lato/Lato-BoldItalic.ttf') format('truetype'),
  url('/assets/fonts/Lato/Lato-BoldItalic.svg#Lato-BoldItalic') format('svg'),
  url('/assets/fonts/Lato/Lato-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('/assets/fonts/Lato/Lato-Bold.eot');
  src: url('/assets/fonts/Lato/Lato-Bold.woff2') format('woff2'),
  url('/assets/fonts/Lato/Lato-Bold.woff') format('woff'),
  url('/assets/fonts/Lato/Lato-Bold.ttf') format('truetype'),
  url('/assets/fonts/Lato/Lato-Bold.svg#Lato-Bold') format('svg'),
  url('/assets/fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Black';
  src: url('/assets/fonts/Lato/lato-black.eot');
  src: url('/assets/fonts/Lato/lato-black.woff2') format('woff2'),
  url('/assets/fonts/Lato/lato-black.woff') format('woff'),
  url('/assets/fonts/Lato/lato-black.ttf') format('truetype'),
  url('/assets/fonts/Lato/lato-black.svg#Lato-Bold') format('svg'),
  url('/assets/fonts/Lato/lato-black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('/assets/fonts/OpenSans/OpenSans-Regular.eot');
  src: url('/assets/fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
  url('/assets/fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans/OpenSans.woff') format('woff'),
  url('/assets/fonts/OpenSans/OpenSans.ttf') format('truetype'),
  url('/assets/fonts/OpenSans/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OpenSans-Bold';
  src: url('/assets/fonts/OpenSans/OpenSans-Bold.eot');
  src: url('/assets/fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
  url('/assets/fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
  url('/assets/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype'),
  url('/assets/fonts/OpenSans/OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
  url('/assets/fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-BoldItalic';
  src: url('/assets/fonts/OpenSans/OpenSans-BoldItalic.eot');
  src: url('/assets/fonts/OpenSans/OpenSans-BoldItalic.woff2') format('woff2'),
  url('/assets/fonts/OpenSans/OpenSans-BoldItalic.woff') format('woff'),
  url('/assets/fonts/OpenSans/OpenSans-BoldItalic.ttf') format('truetype'),
  url('/assets/fonts/OpenSans/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg'),
  url('/assets/fonts/OpenSans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: url('/assets/fonts/OpenSans/OpenSans-Italic.eot');
  src: url('/assets/fonts/OpenSans/OpenSans-Italic.woff2') format('woff2'),
  url('/assets/fonts/OpenSans/OpenSans-Italic.woff') format('woff'),
  url('/assets/fonts/OpenSans/OpenSans-Italic.ttf') format('truetype'),
  url('/assets/fonts/OpenSans/OpenSans-Italic.svg#OpenSans-Italic') format('svg'),
  url('/assets/fonts/OpenSans/OpenSans-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  color:$body-font-color;
  font-family:$body-font-family;
}
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
  color:$brand-dark;
}
p {
}
a {
  color:$link-color;
  transition: all .1s ease-in-out;
  &:hover {
    color: $brand-accent;
    text-decoration: none;
  }
}
